node_modules
node_modules/
node_modules/*
node_modules/**
/node_modules
/node_modules/
/node_modules/*
/node_modules/**
extensions
extensions/
extensions/*
extensions/**
/extensions
/extensions/
/extensions/*
/extensions/**
/.parcel-cache
/.sublimetext
/.vscodium
/.github
/.vscode
vscode
/.geany
/build
build
/dist
dist
/test
test
